combobox.cmb-tz-name {
    font-size: 14px;
    font-weight: bold;
    border-color: green;
}

.combobox {
    font-size: 20px;
    font-weight: bold;
}

box.box-full-widget {
    border-style: solid;
    border-width: 3px;
    border-radius: 2%;
    border-color: darkgrey;
}

label.tz-time-label {
    font-size: 14px;
    font-weight: bold;
    font-style: italic;
}